body {
    margin: 0;
    padding: 0;
    /*    height: 100vh;*/
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    /*    background-color: #8ab9e7; */
    background: linear-gradient(#7dc9c2, #d4edeb);
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #2d3e50;
    font-size: 1.6vw;
    /*    font-size: 1.5em;*/
}

#fullDoc {
/*    position: absolute;*/
/*    margin-top: 3.2vh;*/
        height: 100vh;
}

h2,
h3,
p {
    font-family: 'Source Sans Pro', sans-serif;
}

h2,
h3 {
    font-weight: 700;
}

p {
    font-weight: 300;
}

.trend {
    position: absolute;
    z-index: -200;
    left: 0px;
    bottom: 0px;
    width: 13764px;
}

.info {
    cursor: pointer;
}

.info:hover * {
    fill: #0b131d;
}

@keyframes hideIt {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hide {
    animation: hideIt 0.2s forwards;
}

@keyframes showIt {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.show {
    animation: showIt 0.2s forwards;
}

.inlineSelect {
    display: inline-block;
}

.carPanel {
    position: fixed;
    left: 32.5%;
    top: 100px;
    height: 20vw;
    width: 30vw;
    /*    width: 440px;*/
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 10px 10px 50px 5px rgba(38, 165, 154, 0.25);
    text-align: center;
}

.carCost {
    position: absolute;
    left: 50;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 72%;
    width: 60%;
    color: #2d3e50;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
}

.carTag {
    position: fixed;
    left: 715px;
    top: 235px;
    height: 100px;
}

.houseTag {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 58%;
    height: 32%;
}

.PanelTitle {
    padding-top: 0.5rem;
    position: relative;
    /*    font-size: 0.6rem;*/
}

.housePanel {
    position: fixed;
    left: 63%;
    top: 100px;
    height: 20vw;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 10px 10px 50px 5px rgba(38, 165, 154, 0.25);
    text-align: center;
}

.houseTitle {
    position: relative;
    top: -50px;
}

.houseCost {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 72%;
    color: #26a59a;
/*    color: #2d3e50;*/
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    /*    font-size: 1.5em;*/
    
}

.houseLabel {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 68%;
}

.gasLabel {
    position: absolute;
    width: 45%;
    left: 0;
    right: 50;
    margin-left: auto;
    margin-right: auto;
    top: 68%;
}
.carLabel {
    position: absolute;
    left: 50;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    top: 68%;
}

.foodPanel {
    position: fixed;
    z-index: -1;
    left: 12%;
    top: 100px;
    height: 20vw;
    width: 20vw;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 10px 10px 50px 5px rgba(38, 165, 154, 0.25);
    text-align: center;
}

.milkCost {
    color: #2d3e50;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    position: absolute;
    left: 43%;
    right: 0;
/*    margin-left: auto;*/
    margin-right: auto;
    top: 72%;
}

.dollars {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: inline;
}

.milkPos {
    position: relative;
    width: 20%;
    padding-left: 6%;
}

.milkLabel {
    position: absolute;
    text-align: center;
    /*    display: block;*/
    top: 68%;
    left: 63%;
}

.eggsCost {
    color: #2d3e50;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    position: absolute;
    left: 0;
    right: 35%;
/*    margin-left: auto;*/
    margin-right: auto;
    top: 72%;
}
/*
.eggsCost {
    color: #2d3e50;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
        font-size: 1.5em;
    left: 12%;
    width: 40%;
    position: absolute;
}
*/

.eggLabel {
    position: absolute;
    left: 13%;
    width: 40%;
    text-align: center;
    display: block;
    top: 68%;
}

.eggPos {
    position: relative;
    width: 30%;
    padding-right: 6%;
}

.carPosition {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 5%;
    top: 48%;
    height: 20%;
}

#gasPosition{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 5%;
    margin-right: auto;
    top: 53.5%;
    height: 38.5%;
}

.housePosition {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 24%;
    height: 44%;
}


.gasCost {
    position: fixed;
    height: 125px;
    left: 575px;
    top: 285px;
}

#jumpTo {
    width: 100%;
    margin-top: 1rem;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: white;
}

#jumpToLinks {
    padding: 0;
    margin: 0 auto;
    border-spacing: 0;
}

#land {
    margin-top: 0.2rem;
    height: 1.25rem;
    padding-bottom: 0.5rem;
}

#end {
    margin-top: 0.3rem;
    height: 1rem;
    padding-bottom: 0.6rem;
}

.quickJump {
    transition: background-color 0.25s ease;
    /*    background-color: #b2b2b2;*/
    /*    border-radius: 18px;*/
    padding: 5px;
    padding-bottom: 0;
    align-content: center;
    cursor: pointer;
    display: inherit;
}

.quickJump:hover {
margin-bottom: -2px;
    border-bottom: 2px solid white;
}

.quickJumpGap {
    /*    transition: background-color 0.5s ease;*/
    /*    background-color: white;*/
    /*    padding-left: 20px;*/
    /*    padding-right: 20px;*/
    padding-bottom: 2px;
    padding-top: 2px;
    width: 1rem;
    margin-top: 10px;
    align-content: center;
    display: inherit;
    /*    margin-bottom: 4%;*/
    margin-left: -4px;
    margin-right: -4px;
    /*    border-bottom: 2px solid red;*/
}

.quickJump img {
    margin: auto;
    display: block;
}

.highlight {
    transition: background-color 0.25s ease;
    /*    background-color: #ffcd02;*/
    margin-bottom: -2px;
    border-bottom: 2px solid white;
}

.highlight:hover {
    margin-bottom: -2px;
    border-bottom: 2px solid white;
}

.pointer {
    transition: fill 0.25s ease;
    fill: white;
}

.pointer2 {
    transition: fill 0.25s ease;
    fill: #7dc9c2;
}

@keyframes start {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dates {
    width: 100%;
    height: 100%;
}

.backgroundNum {
    font-size: 35vw;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: -39vw;
    z-index: -100;
    /*    color: #3598db;*/
    color: #ffffff;
    opacity: 0.4;
}

@keyframes {}

.hideBox {
    height: 30px;
    y: 474.91px;
}

.hideBox:hover {
    height: 184.08px;
    y: 320.83px;
}

.hideBox2 {
    height: 30px;
    y: 460px;
}

.hideBox2:hover {
    height: 184.08px;
    y: 305.83px;
}

.hideBox3 {
    height: 30px;
    y: 443px;
}

.hideBox3:hover {
    height: 184.08px;
    y: 289.89px;
}

.hideBox4 {
    height: 30px;
    y: 463px;
}

.hideBox4:hover {
    height: 184.08px;
    y: 310px;
}

.hideBox5 {
    height: 30px;
    y: 429px;
}

.hideBox5:hover {
    height: 184.08px;
    y: 275px;
}

.hideBox6 {
    height: 30px;
    y: 449px;
}

.hideBox6:hover {
    height: 184.08px;
    y: 295px;
}

.hideBox7 {
    height: 30px;
    y: 419px;
}

.hideBox7:hover {
    height: 184.08px;
    y: 265px;
}

.hideBox8 {
    height: 30px;
    y: 464px;
}

.hideBox8:hover {
    height: 184.08px;
    y: 310px;
}

.hideBox9 {
    height: 30px;
    y: 419px;
}

.hideBox9:hover {
    height: 184.08px;
    y: 265px;
}

.hideBox10 {
    height: 30px;
    y: 484px;
}

.hideBox10:hover {
    height: 184.08px;
    y: 330px;
}

.hideBox11 {
    height: 30px;
    y: 495px;
}

.hideBox11:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox12 {
    height: 30px;
    y: 475px;
}

.hideBox12:hover {
    height: 184.08px;
    y: 321px;
}

.hideBox13 {
    height: 30px;
    y: 495px;
}

.hideBox13:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox14 {
    height: 30px;
    y: 483px;
}

.hideBox14:hover {
    height: 184.08px;
    y: 329px;
}

.hideBox15 {
    height: 30px;
    y: 490px;
}

.hideBox15:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox16 {
    height: 30px;
    y: 475px;
}

.hideBox16:hover {
    height: 184.08px;
    y: 321px;
}

.hideBox17 {
    height: 30px;
    y: 412px;
}

.hideBox17:hover {
    height: 184.08px;
    y: 258px;
}

.hideBox18 {
    height: 30px;
    y: 482px;
}

.hideBox18:hover {
    height: 184.08px;
    y: 328px;
}

.hideBox19 {
    height: 30px;
    y: 490px;
}

.hideBox19:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox20 {
    height: 30px;
    y: 475px;
}

.hideBox20:hover {
    height: 184.08px;
    y: 321px;
}

.hideBox21 {
    height: 30px;
    y: 482px;
}

.hideBox21:hover {
    height: 184.08px;
    y: 328px;
}

.hideBox22 {
    height: 30px;
    y: 492px;
}

.hideBox22:hover {
    height: 184.08px;
    y: 340px;
}

.hideBox23 {
    height: 30px;
    y: 449px;
}

.hideBox23:hover {
    height: 184.08px;
    y: 295px;
}

.hideBox24 {
    height: 30px;
    y: 482px;
}

.hideBox24:hover {
    height: 184.08px;
    y: 328px;
}

.hideBox25 {
    height: 30px;
    y: 490px;
}

.hideBox25:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox26 {
    height: 30px;
    y: 455px;
}

.hideBox26:hover {
    height: 184.08px;
    y: 301px;
}

.hideBox27 {
    height: 30px;
    y: 495px;
}

.hideBox27:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox28 {
    height: 30px;
    y: 485px;
}

.hideBox28:hover {
    height: 184.08px;
    y: 331px;
}

.hideBox29 {
    height: 30px;
    y: 490px;
}

.hideBox29:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox30 {
    height: 30px;
    y: 485px;
}

.hideBox30:hover {
    height: 184.08px;
    y: 330px;
}

.hideBox31 {
    height: 30px;
    y: 490px;
}

.hideBox31:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox32 {
    height: 30px;
    y: 490px;
}

.hideBox32:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox33 {
    height: 30px;
    y: 480px;
}

.hideBox33:hover {
    height: 184.08px;
    y: 326px;
}

.hideBox34 {
    height: 30px;
    y: 490px;
}

.hideBox34:hover {
    height: 184.08px;
    y: 335px;
}

.hideBox35 {
    height: 30px;
    y: 453px;
}

.hideBox35:hover {
    height: 184.08px;
    y: 299px;
}


/* delete
.background{
    position: relative;
    background-color: red;
    
    width: 1536px;
    height: 759px;
    z-index: -5000;
}
*/


.overlay1 {
    position: absolute;
    background-color: rgba(10, 41, 39, 0.85);
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    opacity: 1;
    top: 0px;
    left: 0px;
}

.overlay2 {
    position: fixed;
    background-color: rgba(10, 41, 39, 0.85);
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    opacity: 1;
    top: 0px;
    left: 0px;
}

.noPad {
    margin-top: 0px;
}

.arrowCont {
    opacity: 0;
    height: 50px;
    width: 50px;
    position: fixed;
    left: 90%;
    /*    left: 1480px;*/
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    animation: start 5s 1s linear forwards;
    z-index: 9999;
}

.infoBox1 {
    padding: 50px;
    background-color: white;
    position: relative;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    align-content: center;
}


/*
.infoBox1{
    padding: 50px;
    background-color: white;
    position: absolute;
    width: 550px;
    height: 330px;
    text-align: center;
    left: 470px;
    top:    180px;
    align-content: center;
}
*/

.infoBox2 {
    padding: 50px;
    background-color: white;
    position: relative;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    align-content: center;
}

.lowZ {
    visibility: hidden;
}

@-webkit-keyframes fHover {
    from {
        left: 738px;
        width: 100px;
    }
    to {
        left: 728px;
        width: 120px;
    }
}

@-webkit-keyframes fnHover {
    from {
        left: 728px;
        width: 120px;
    }
    to {
        left: 738px;
        width: 100px;
    }
}

.flag {
    width: 100px;
    cursor: pointer;
}

.flag:hover,
.flag:focus {
    animation-name: fHover;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.flag:not(:hover) {
    animation-name: fnHover;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes clouds {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(1705px);
    }
}

.cloud1 {
    transform: translateX(-200px);
    width: 200px;
    position: fixed;
    opacity: 0.95;
    z-index: -50;
    animation: clouds 150s 10s linear infinite;
    /*
    fill: #bce5e9;
    stroke: none;
*/
}

.cloud2 {
    transform: translateX(-100px);
    width: 300px;
    position: fixed;
    z-index: -50;
    opacity: 0.8;
    animation: clouds 110s 0s linear infinite;
}

.cloud3 {
    transform: translateX(-200px);
    width: 100px;
    position: fixed;
    z-index: -50;
    opacity: 0.95;
    animation: clouds 70s 5s linear infinite;
}

.cloud4 {
    transform: translateX(-200px);
    width: 200px;
    position: fixed;
    opacity: 0.5;
    z-index: -50;
    animation: clouds 130s 75s linear infinite;
}

.cloud5 {
    transform: translateX(-300px);
    width: 300px;
    position: fixed;
    opacity: 0.25;
    animation: clouds 90s 60s linear infinite;
}

.cloud6 {
    transform: translateX(-300px);
    width: 100px;
    position: fixed;
    z-index: -50;
    opacity: 1;
    animation: clouds 50s 0s linear infinite;
}

.cloud7 {
    transform: translateX(-200px);
    width: 200px;
    position: fixed;
    opacity: 0.75;
    animation: clouds 70s 35s linear infinite;
}

.cloud8 {
    transform: translateX(-400px);
    width: 400px;
    position: fixed;
    opacity: 0.25;
    animation: clouds 110s 50s linear infinite;
}

.cloud9 {
    transform: translateX(-200px);
    width: 200px;
    position: fixed;
    opacity: 0.25;
    animation: clouds 40s linear 0s infinite;
}

.label {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1vw;
    /*    font-size: 1rem;*/
    color: #2d3e50;
}

.underConstruction {
    font-family: 'Poppins', sans-serif;
    color: #2d3e50;
    font-size: 1.2vw;
}


.carType {
    position: absolute;
    left: 50;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    top: 30%;
    font-weight: 400;
}