html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.scrollbar{
    overflow-y: scroll;
    ::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,249,240,0.9) ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ADA79E;
    border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5C5751;
}
}

/**Nav Css**/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    transition: all 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
nav li {
  float: left;
    font-size: 1rem;
    margin: 1rem 1rem;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
 
    padding:  0.2rem 0;
  text-decoration: none;
    font-weight: 300;
    
    cursor: pointer;
}
.navLogo{
    vertical-align: middle;
    width: 1rem;
    cursor: pointer;
}

/**Top Nav Hover **/
.navFocus{
   cursor: pointer;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; 
}
.navFocus:before {
    content: "";
  position: absolute;
  z-index: 9999;
  top: 1.4rem;
  left: 0rem;
  right: 0rem;
  bottom: 0;
    height: 0.01rem;
  width: 0%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    transition: width .2s;
}
.navFocusCol1:not(.scrolled):before {
    background: #FFF;
}
.navFocusCol1.active{
    background: #FFF;
    color: #0D0C0B;
}
.navFocus:hover:before, .navFocus:focus:before, .navFocus:active:before {
  width: 100%;
}
.navFocusCol1:before{
    background: #0D0C0B;
}
.navbar-fixed-top.scrolled {
  color: #0D0C0B !important;
font-weight: 300;
}

/** Text CSS**/
a{
    text-decoration: none;
    color: #0D0C0B;;

}
a hr{
    
    height: 1px;
    border-width: 0px;
    background-color: #ADA79E;
}
li{
    
}
hr{
    
}
h1,h2,h3,h4{
   font-family: 'Raleway', sans-serif; 
}
h1{
    text-align: left;
    font-size: 4.209rem;
    margin: 0;
    margin-left: -2px;
    
}
h2{
    font-size: 3.157rem;
    font-weight: 800;
    color: #222;
}
h3{
    font-size: 2.369rem;
}
h4{
   font-size: 1.777rem; 
}
p{
    font-size: 1rem;
    line-height: normal;
    font-weight: 300;
    color: #423E3A;
}
li{
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.333rem;
    line-height: 2.369rem;
}
p strong{
    font-weight: 700;
}
.body-01 {
    font-weight: 300;
    font-size: 1.333rem;
    margin-bottom: 0.5rem;
    padding: 0;
    
}
.body-01 strong{
    font-weight: 700;
}
.caption-01{
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 0.5rem;
    
}
.caption-01 strong{
    font-weight: 700;
}


/** Text spacing CSS **/
.headingTxt {
    line-height: 2.369rem;
}

/**Spacing CSS**/
.fullWidth{
    width: 100%;
    
}
.breathsm{
    margin-top: 1rem;
}
.breathmd{
    margin-top: 2rem;
}
.breathlg{
    margin-top:4rem;
}
.breathxlg{
    margin-top: 8rem;
}
.breathlg{
    margin-top: 4rem;
}
.fullWidth {
    width: 100%;
}

/** Landing CSS **/
.landBody{
    padding: 0;
    margin: 0; 
    background-color: #0D0C0B;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    overflow-x: hidden;
    overflow-y:hidden;
}
.subPar{
    font-weight: 100;
    font-size: 0.75rem;
    margin: 2rem 0px;
    line-height: 1.12rem;
    display: inline-block;
    color: #fff;
}
.animCol {
    height: 0px;
    width: 100%;
    margin: 0;
    position: relative;
    transition: height 1s ease-in-out;
    
}
.arrow{
    width: 1rem;
    margin: 2rem auto;
}
.arrowAnim{
    stroke:#fff;
    stroke-width: 3;
    stroke-miterlimit:10;
    stroke-dasharray: 100;
    animation: dash 2s ease-in infinite reverse;
}
@keyframes dash {
  to {
    stroke-dasharray:100;
    stroke-dashoffset: 200;
  }
}
#centerCont{
    display: flex;
  justify-content: center;
  align-items: center;
    transition: all 1s ease-in-out;
    margin-top: 25vh;
}
#intro{
    z-index: 9999;
    height: 2px;
/*
    position: absolute;
    top: 75%;
    left: 0;
*/
    background: #ffffff;
    width: 0;
    transition: width 1s ease-in-out;
    margin: 0 auto;
/*    box-shadow: 0px 0px 2px #fff;*/
    

}
#headTxt{
    opacity: 0;
    transition: all 1s ease-in-out;
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    
}
.subHead{
    font-size:  1.777rem;
    text-align: center;
    margin: 0;
    font-weight: 100;
    letter-spacing: 0.43rem;
    text-transform: uppercase;
    margin-left: ;
    margin-right: -4px;
    line-height: normal;
}
#subIntro{
    opacity: 0;
    margin: 0 auto 0 auto;  
    border-top: solid 1px #fff; 
    width: 23rem; 
    transition: all 1s ease-in-out;
}
.gradTxt{
    background: -webkit-linear-gradient(0.25turn, #EC905F, #F1E678);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Show and hide **/
.show{
   display: block;
}
.hide{
    display: none !important;
}

/** Filter results **/
.filterProj{
   cursor: pointer;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
    padding-bottom: 0.1rem;
}
.filterProj:hover{
    border-bottom: 1px solid #78726B;
}
.filterProjAct{
    border-bottom: 1px solid #ADA79E;
}
.filterProj:before {
    content: "";
  position: absolute;
  z-index: 9999;
  top: 1.4rem;
  left: 0rem;
  right: 0rem;
  bottom: 0;
    height: 0.01rem;
  width: 0%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    transition: width .2s;
}
.filterProj:hover:before, .filterProj:focus:before, .filterProj:active:before {
  width: 100%;
}

/**PF Card CSS**/
.pfHide{
    animation: pfExpandOut 0.5s forwards ease-in-out;
    opacity: 0%;
    
}
.pfLink{
    display: block;
    position: relative;
    z-index: 1;
    padding: 0.5rem;
}
.pfLink:hover > .pfHide{
    animation: pfExpand 0.5s forwards ease-in-out;
    opacity: 100%;
}
.pfLink:before{
    position: absolute;
    z-index: -1;
    content: '';
    left: -5%;
    top: -5%;
    width: 0%;
    height: 0%;
    animation: pfHoverOut 0.3s forwards ease-in-out;
    border-radius: 0.5rem;   
}
.pfLink:hover:before{
    cursor: pointer;
    animation: pfHover 0.3s forwards ease-in-out;
    z-index: -1;
     
}
@keyframes pfExpand{
    0%{
        opacity: 0%;
        
    }
    50%{
        opacity: 50%;
    }
    70%{     
        opacity: 100%;
    }
    100%{
        
    }
}
@keyframes pfExpandOut{
    0%{
        opacity: 100%;
        
    }
    50{
        opacity: 50%;
    }
    70%{
        opacity: 0%;
       
    }
    100%{
         
    }
}
@keyframes pfHover{
    0%{
        height: 0%;
        width: 0%;
        border-top: 0px solid #ADA79E;
        border-bottom: 0px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 0px solid #ADA79E; 
    }
    33%{
        height: 110%;
        width: 0%;
        border-top: 0px solid #ADA79E;
        border-bottom: 0px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 1px solid #ADA79E;
    }
    66%{
        height: 110%;
        width: 110%;
        border-top: 1px solid #ADA79E;
        border-bottom: 1px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 1px solid #ADA79E;
    }
    100%{
        height: 110%;
        width: 110%;
        border-top: 1px solid #ADA79E;
        border-bottom: 1px solid #ADA79E;
        border-right: 1px solid #ADA79E;
        border-left: 1px solid #ADA79E;
    }
    
    
}
@keyframes pfHoverOut{
    0%{
        height: 110%;
        width: 110%;
        border-top: 1px solid #ADA79E;
        border-bottom: 1px solid #ADA79E;
        border-right: 1px solid #ADA79E;
        border-left: 1px solid #ADA79E;   
    }
    33%{
        height: 110%;
        width: 110%;
        border-top: 1px solid #ADA79E;
        border-bottom: 1px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 1px solid #ADA79E; 
    }
    66%{
        height: 110%;
        width: 0%;
        border-top: 0px solid #ADA79E;
        border-bottom: 0px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 1px solid #ADA79E;
    }
    100%{
        height: 0%;
        width: 0%;
        border-top: 0px solid #ADA79E;
        border-bottom: 0px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 0px solid #ADA79E;
    }
    
    
}

/** Contact section CSS**/
.contactSVG{
    fill: #313131;
    transition: all 0.3s;
}
.contactSVG:hover{
    fill: #151515;
}

.gridBkg{
    background: #FFF9F0; 
    color: #0D0C0B;
}
.pfBkg{
  color: #0D0C0B;  
}

/*
.citingLink{
    color: #489ad6;
}
*/