html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body{
    padding: 0;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    background-color: #0f0f0f;
/*    background: linear-gradient(180deg, #1f2021 0%, #181918 100%);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    overflow-x: hidden;
    overflow-y:hidden;
    /* width */

}

/**Nav Css**/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    transition: all 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
nav li {
  float: left;
    font-size: 1rem;
    margin: 1rem 1rem;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
 
    padding:  0.2rem 0;
  text-decoration: none;
    font-weight: 300;
    
    cursor: pointer;
}
.navLogo{
    vertical-align: middle;
    width: 1rem;
    cursor: pointer;
}

/**Top Nav Hover **/
.navFocus{
   cursor: pointer;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; 
}
.navFocus:before {
    content: "";
  position: absolute;
  z-index: 9999;
  top: 1.4rem;
  left: 0rem;
  right: 0rem;
  bottom: 0;
    height: 0.01rem;
  width: 0%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    transition: width .2s;
}
.navFocusCol1:not(.scrolled):before {
    background: #FFF;
}
.navFocusCol1.active{
    background: #FFF;
    color: #0D0C0B;
}
.navFocus:hover:before, .navFocus:focus:before, .navFocus:active:before {
  width: 100%;
}
.navFocusCol1:before{
    background: #0D0C0B;
}
.navbar-fixed-top.scrolled {
  color: #0D0C0B !important;
font-weight: 300;
}

/** Text CSS**/
a{
    text-decoration: none;
    color: #0D0C0B;;

}
a hr{
    
    height: 1px;
    border-width: 0px;
    background-color: #ADA79E;
}
li{
    
}
hr{
    
}
h1,h2,h3,h4{
   font-family: 'Raleway', sans-serif; 
}
h1{
    text-align: left;
    font-size: 4.209rem;
    margin: 0;
    margin-left: -2px;
    
}
h2{
    font-size: 3.157rem;
    font-weight: 800;
    color: #222;
}
h3{
    font-size: 2.369rem;
}
h4{
   font-size: 1.777rem; 
}
p{
    font-size: 1rem;
    line-height: normal;
    font-weight: 300;
    
}
p strong{
    font-weight: 700;
}
.body-01 {
    font-weight: 300;
    font-size: 1.333rem;
    margin-bottom: 0.5rem;
    padding: 0;
    
}
.body-01 strong{
    font-weight: 700;
}
.caption-01{
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 0.5rem;
    
}
.caption-01 strong{
    font-weight: 700;
}

/** Show and hide **/
.show{
   display: block;
}
.hide{
    display: none;
}


.cls-1{
    fill: #313131;
    transition: all 0.3s;
}
.cls-1:hover{
    fill: #151515;
}

/** Filter results **/
.filterProj{
   cursor: pointer;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
    padding-bottom: 0.1rem;
}
.filterProj:hover{
    border-bottom: 1px solid #78726B;
}
.filterProjAct{
    border-bottom: 1px solid #ADA79E;
}
.filterProj:before {
    content: "";
  position: absolute;
  z-index: 9999;
  top: 1.4rem;
  left: 0rem;
  right: 0rem;
  bottom: 0;
    height: 0.01rem;
  width: 0%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    transition: width .2s;
}
.filterProj:hover:before, .filterProj:focus:before, .filterProj:active:before {
  width: 100%;
}


/* Hover Sweep code*/
/*
.hvr-sweep {
    cursor: pointer;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweepcol1:before {
  background: #FE1942;
}
.hvr-sweepcol1.active{
    background: #FE1942;
    color: black;
    
}
.hvr-sweepcol2:before {
  background: #00be2e;
}
.hvr-sweepcol2.active {
  background: #00be2e;
    color: black;
}
.hvr-sweepcol3:before {
  background: #0085E2;
}
.hvr-sweepcol3.active {
  background: #0085E2;
    color: black;
}
.hvr-sweepcol4:before {
  background: #f6ff19;
}
.hvr-sweepcol4.active {
  background: #f6ff19;
    color: black;
}
.hvr-sweepcol5:before {
  background: #FF00FF;
}
.hvr-sweepcol5.active {
  background: #FF00FF;
    color: black;
}
.hvr-sweep:hover, .hvr-sweep:focus, .hvr-sweep:active {
  color: black;
    
}
.hvr-sweep:hover:before, .hvr-sweep:focus:before, .hvr-sweep:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
*/

.scrollbar{
    overflow-y: scroll;
    ::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.8) ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
    border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}


.subPar{
    font-weight: 100;
    font-size: 0.75rem;
    margin: 2rem 0px;
    line-height: 1.12rem;
    display: inline-block;
}



.animCol {
    height: 0px;
    width: 100%;
    margin: 0;
    position: relative;
    transition: height 1s ease-in-out;
    
}
.arrow{
    width: 1rem;
    margin: 2rem auto;
}
.cls-1{
    stroke:#fff;
    stroke-width: 3;
    stroke-miterlimit:10;
    stroke-dasharray: 100;
    animation: dash 2s ease-in infinite reverse;
}
.CTA{
    margin-top: 1rem
}
.CTA a{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.CTA a:hover{
    background: #FE1942;
    color: #000;
}

@keyframes dash {
  to {
    stroke-dasharray:100;
    stroke-dashoffset: 200;
  }
}
.fullWidth{
    width: 100%;
    
}
.breathsm{
    margin-top: 1rem;
}
.breathmd{
    margin-top: 2rem;
}
.breathlg{
    margin-top:4rem;
}
.breathxlg{
    margin-top: 8rem;
}

.breath{
    margin-top: 8rem;
}
.breathlg{
    margin-top: 4rem;
}
.navHover{
    padding-left: 3.4vw;
}
.navHover:hover{
    cursor: pointer;
    font-weight: 700;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.navHover2{
    padding-left: 3.4vw;
}
.navHover2:hover{
    background: linear-gradient(90deg, #EC905F 0%, #BF406B 100%);
    font-weight: 700;
    cursor: pointer;
}
.navHover3{
    padding-left: 3.4vw;
}
.navHover3:hover{
    background: linear-gradient(90deg, #F1E678 0%, #EC905F 100%);
    font-weight: 700;
    cursor: pointer;
}
.gridBkg{
    background: #FFF9F0; 
    color: #0D0C0B;
}
.headingTxt body-01{
    font-family: 'Roboto', sans-serif;
    font-size: 1.333rem;
    line-height: 2.441rem;
    font-weight: 300;
}

.pfTitle{
    font-size: 4.209rem;;
    color: #fff;
    -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: black;
    
}

.pfHide{
    animation: pfExpandOut 0.5s forwards ease-in-out;
    opacity: 0%;
    
}
.pfLink:hover > .pfHide{
    animation: pfExpand 0.5s forwards ease-in-out;
    opacity: 100%;
}

/*
.pfLink:hover > .pfHide p{
    animation: pfExpand2  0.5s forwards ease-in-out;
    opacity: 100%;
}
*/


@keyframes pfExpand{
    0%{
        opacity: 0%;
        
    }
    50%{
        opacity: 50%;
    }
    70%{     
        opacity: 100%;
    }
    100%{
        
    }
}

/*
@keyframes pfExpand2{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    70%{     
        opacity: 100%;
    }
    100%{
    }
}
*/
@keyframes pfExpandOut{
    0%{
        opacity: 100%;
        
    }
    50{
        opacity: 50%;
    }
    70%{
        opacity: 0%;
       
    }
    100%{
         
    }
}
/*
@keyframes pfExpandOut2{
    0%{
        opacity: 100%;
     
        transform: translateY(0px);
    }
    50{
        opacity: 50%;
    }
    70%{
        opacity: 0%;
       
       
    }
    100%{
         transform: translateY(-40px);
    }
}
*/

.pfLink{
    display: block;
    position: relative;
    z-index: 1;
    padding: 0.5rem;
}

.pfLink:before{
    position: absolute;
    z-index: -1;
    content: '';
    left: -5%;
    top: -5%;
    width: 0%;
    height: 0%;
    animation: pfHoverOut 0.3s forwards ease-in-out;
    border-radius: 0navf.5rem;   
}
.pfLink:hover:before{
    cursor: pointer;
    animation: pfHover 0.3s forwards ease-in-out;
    z-index: -1;
     
}

@keyframes pfHover{
    0%{
        height: 0%;
        width: 0%;
        border-top: 0px solid #ADA79E;
        border-bottom: 0px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 0px solid #ADA79E; 
    }
    33%{
        height: 110%;
        width: 0%;
        border-top: 0px solid #ADA79E;
        border-bottom: 0px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 1px solid #ADA79E;
    }
    66%{
        height: 110%;
        width: 110%;
        border-top: 1px solid #ADA79E;
        border-bottom: 1px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 1px solid #ADA79E;
    }
    100%{
        height: 110%;
        width: 110%;
        border-top: 1px solid #ADA79E;
        border-bottom: 1px solid #ADA79E;
        border-right: 1px solid #ADA79E;
        border-left: 1px solid #ADA79E;
    }
    
    
}
@keyframes pfHoverOut{
    0%{
        height: 110%;
        width: 110%;
        border-top: 1px solid #ADA79E;
        border-bottom: 1px solid #ADA79E;
        border-right: 1px solid #ADA79E;
        border-left: 1px solid #ADA79E;   
    }
    33%{
        height: 110%;
        width: 110%;
        border-top: 1px solid #ADA79E;
        border-bottom: 1px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 1px solid #ADA79E; 
    }
    66%{
        height: 110%;
        width: 0%;
        border-top: 0px solid #ADA79E;
        border-bottom: 0px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 1px solid #ADA79E;
    }
    100%{
        height: 0%;
        width: 0%;
        border-top: 0px solid #ADA79E;
        border-bottom: 0px solid #ADA79E;
        border-right: 0px solid #ADA79E;
        border-left: 0px solid #ADA79E;
    }
    
    
}
#centerCont{
    display: flex;
  justify-content: center;
  align-items: center;
    transition: all 1s ease-in-out;
    margin-top: 25vh;
}
#intro{
    z-index: 9999;
    height: 2px;
/*
    position: absolute;
    top: 75%;
    left: 0;
*/
    background: #ffffff;
    width: 0;
    transition: width 1s ease-in-out;
    margin: 0 auto;
/*    box-shadow: 0px 0px 2px #fff;*/
    

}


#headTxt{
    opacity: 0;
    transition: all 1s ease-in-out;
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    
}

.landBox{
    width: 100%;
    background-color: #fff;
    height: 25vh;
    margin-top: 3rem;
}
.subHead{
    font-size:  1.777rem;
    text-align: center;
    margin: 0;
    font-weight: 100;
    letter-spacing: 0.43rem;
    text-transform: uppercase;
    margin-left: ;
    margin-right: -4px;
    line-height: normal;
}
.subHeadW{
    font-size:  1.777rem;
    text-align: center;
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.43rem;
    text-transform: uppercase;
    margin-left: ;
    margin-right: -4px;
    line-height: normal;
    color: #222;
}

.superheader{
    font-weight: 300;
    font-size: 5.61rem;
    margin: 2rem 0rem;
/*    text-align: center;*/
    
}
.secTitle{
    display: inline-block; 
    font-size: 3.157rem;
    margin: 0px;
    color: #222;
/*
    font-size:  1.5rem;
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
*/
}
.secTitleMd{
    display: inline-block; 
    font-size: 2.369rem;
    margin: 0px;
    color: #222;
}
/*
.secTitleSm{
    font-size: 1rem;
    font-weight: 300;
    margin: 0;

    
}
*/
.descSpace{
    margin-top: 1.5rem;
}


#subIntro{
    opacity: 0;
    margin: 0 auto 0 auto;  
    border-top: solid 1px #fff; 
    width: 23rem; 
    transition: all 1s ease-in-out;
}

@keyframes loading{
    from {width: 0%;}
  to {width: 100%;}
}

.workDiv {
/*
  -webkit-clip-path: polygon(0% 5%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0% 8%, 100% 8%, 100% 100%, 0% 100%);
*/
    width: 100%;  
    height: 100vh; 
    margin: 40vh 0 0 0; 
    padding: 0;
    
}


.tabcontent{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
}
.tablinks{

    
}
.tablinks h1{
    font-weight: 700;
}

/** -------- Merged CSS -------- **/


/*
.topDesc{
    font-size: 1rem;
     margin-bottom: 1.5rem;
    
}
*/

.pfBut:hover{

    background: #000000;
    cursor: pointer;
}
.pfPiece {
    padding: 20px 20px;
    transition: box-shadow .3s;
    opacity: 1;
/*    transition: visibility 0s linear 300ms, opacity 300ms;*/
    height: fit-content;
/*
    border: 1px solid #eee;
    border-radius: 4px;
*/
}

.pfPiece h1 {
    font-weight: 500;
    font-size: 1.2rem;
}

.pfPiece img {
    width: 100%;
}

.pfPiece:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(33,33,33,.2) !important;
     border-radius: 4px;
    
}





.navLogo {
    width: 1rem;
    vertical-align: middle;
    cursor: pointer;
}


.sectionTitle{
    font-weight: 500;
    font-size: 0.67rem;
    text-transform: uppercase;
    color: #2d2f33;
        margin-top: 0.5rem;
    letter-spacing: 0.1rem;
}

.sectionTitle2{
    font-weight: 300;
    font-size: 0.81rem;
    text-transform: uppercase;
    color: #2d2f33;
        margin-top: 2rem;
}
.sectionTitle3{
    font-weight: 700;
    font-size: 1.953rem;
    color: #2d2f33;
    margin-top: 1rem;
}

.citingLink{
    color: #489ad6;
}


.gradTxt{
    background: -webkit-linear-gradient(0.25turn, #EC905F, #F1E678);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fullWidth {
    width: 100%;
}