@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.headingTxt body-01{
    font-size: 1.2rem;
    line-height: 2.441rem;
}


.navLogo {
    width: 20px;
    top:50%;
    position: absolute;
    transform: translate(0%, -50%);
}

.navLogo:hover {
    cursor: pointer;
}

.navLink {
    text-align: right;
    padding: 10px 0px 10px 15px;
}

.navLink a {
    font-weight: 300;
    text-decoration: none;
    color: #131314;
    ;
    margin: 15px;
    position: relative;
    padding-bottom: 2px;
}

.navLink a:hover {
    cursor: pointer;
}

.navLink a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -15%;
    left: 0;
    background-color: #29292b;
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}
.navLink a:hover:before {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}