html {
    font-size: 16px;
    color: #0D0C0B;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-size: 32px 32px;
    background-color: #FFF9F0;
    background-image:
        linear-gradient(to right, #F3EDE4 1px, transparent 1px),
        linear-gradient(to bottom, #F3EDE4 1px, transparent 1px);
    background-attachment: fixed;
    color: #0D0C0B;
    font-family: "Nunito Sans", sans-serif;
}

/*Tag definitions*/
h1 {
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.209rem;
    color: #423E3A;
}

h2 {
    font-size: 3.157rem;
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
    color: #423E3A;
}

h3 {
    font-size: 2.369rem;
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
    color: #5f5c59;
}

h4 {
    font-size: 1.777rem;
    font-weight: 800;
    color: #423E3A;
}

h5 {
    font-size: 1.333rem;
    font-weight: 300;
    color: #423E3A;
    margin: 0px;
}

h5 strong {
    font-weight: 700;
}

p {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}

p strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #c66600;
    font-weight: 500;
}

img {
    box-shadow: 0px 4px 4px rgba(13, 12, 11, 0.2);
}

li strong {
    font-weight: 700;
}

/*navigation*/
.navOverride {
    font-weight: 300;
    animation: all 1s;
}

.navOverride:hover {
    color: #682A6E;
}

.navOverride:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
}

.navOverride:hover:after {
    width: 100%;
    background: #682A6E;
}

.navbar-nav > li {
    margin-left: 1rem;
    margin-right: 1rem;
}


/*Card classes*/
.bCard {
    border: 1px solid #0D0C0B;
    padding: 2rem;
}

.cCard {
    padding: 2rem;
}

.mainCard {
    border: 1px solid #696159;
    box-shadow: 4px 4px 0px rgba(13, 12, 11, 1);
    margin: 1rem;
    padding: 1rem;
    transition: all 0.5s ease;

}

.mainCard p {
    color: #0D0C0B;
}

.mainCard:hover {
    box-shadow: 8px 8px 0px rgba(13, 12, 11, 1);
    cursor: pointer;
}

.faintCard {
    border: 1px dashed #696159;
    margin: 1rem;
    padding: 1rem;
    transition: all 0.5s ease;
    color: #423E3A;

}

/* title clases*/
.fullWidth {
    width: 100%;
}

.secTitle {
    margin: 4rem 0;
    text-align: center;
}

/*Content classes*/

.blog > * {
    margin: 2rem 0;
}

.blog {
    margin: 10vh 0;
}

.sub {
    color: #696159;
}

.contentList {
    font-size: 1.333rem;
    font-weight: 100;
    margin: 1rem 0;
}

.content {
    font-size: 1.333rem;
    font-weight: 300;
}

.timeline {
    padding: 0.5rem 0rem 0.5rem 1rem;
}

.timeline::before {
    content: "";
    height: 1px;
    width: 8px;
    background-color: #0D0C0B;
    display: block;
    position: relative;
    top: 0.8rem;
    left: -1rem;
}

.workItem {
    padding: 1rem;
    border: 1px solid #0D0C0B;
}

.workItem:hover {
    color: blue;
    cursor: pointer;
}
