.landImg{
    width: 100%;
    margin-top: 3rem; 
    margin-bottom: 2rem;
}
.divideImg{
    max-height: 300px;
    overflow-y: hidden;
}
.landImgCont{
    margin-top: 42.125px;
    
    background-size: cover; 
    height: 100vh;
}

.land1{
    background-image: url(/img/glance/land.jpg);
}
.land2{
    background-image: url(/img/dataVis/landing.png);
}
.land3{
    background-image: url(/img/bonci/solution.png);
}
.land4{
    background-image: url(/img/onTrack/landing.jpg);
}
.land5{
    background-image: url(/img/tims/landing.png);
}
.land6{
    background-image: url(/img/toyota/landing.png);
}
.land7{
    background-image: url(/img/altPF/landing.jpg);
}
.modal{
    z-index: 999;
}


.projTitle{
    font-size: 2.369rem;
    margin-bottom: 0px;
}
.stepTitle{
    font-size: 1.777rem;
    margin: 0px;
}
.borderBot {
    margin-top: 15px;
  border-bottom: 10px solid #29292b;
  position: absolute;
  left: 15px;
  right: 75%;
}
.projTitleB{
    font-size: 1.953rem;

    margin-top: 0.5rem;
    font-weight: 700;
}
.projDesc{
    font-size: 1.44rem;
    font-weight: 300;
    
/*    color: #2978A0;*/
}
.date{}
.tags{
    text-align: right;
}
.tags p{
    margin-bottom: 0px;
}
.tags2{
/*    text-align: right;*/
    border-bottom: 1px #c3c3cb solid;
/*    border: 1px solid #61676c;*/
/*    background-color: #61676c;*/
    margin-top: 1%;
    margin-bottom: 2%;
}
.tags2 p{
/*    color: #fff;*/
        color: #29292b;
}
.tags2 ul{
    padding: 0px;
}
.tags2 li{
/*    color: #fff;*/
    margin-top: 2%;
/*    list-style-type:none;*/
    line-height: 1.2rem;
     color: #29292b;
}
.border{
    border-right: 1px solid #000000;
    position: absolute;
  top: 16px;
    height: 48px;
    right: 15px;
    margin-bottom: 0px;
}
.border2{
    border-bottom: 5px solid #29292b;
    position: relative;
    bottom: 0px;
    height: 48px;
    right: 15px;
}
.divImg{
    width: 100%;
    max-height: 40vh;
}
.cState{
    background-image: url(/img/glance/cState.jpg);
    background-size: cover;
    min-height: 40vh;
}
.cState2{
    background-image: url(/img/dataVis/cstate.png);
    background-size: cover;
}
.cState3{
    background-image: url(/img/bonci/cState.png);
    background-size: cover;
    min-height: 40vh;
}
.cState4{
    background-image: url(/img/onTrack/cState.png);
    background-size: cover;
    min-height: 40vh;
}
.cState5{
    background-image: url(/img/tims/cState.jpg);
    background-size: cover;
    min-height: 40vh;
}
.cState6{
    background-image: url(/img/toyota/cstate.jpg);
    background-size: cover;
    min-height: 40vh;
}
.cState7{
    background-image: url(/img/altPF/cState.png);
    background-size: cover;
    min-height: 40vh;
}
.cState8{
    background-image: url(/img/integrateAi/IAIProj1/integrateStock.jpg);
    background-size: cover;
    min-height: 40vh;
}
.cState8 h1{
    background-color: #fff;
    padding: 15px;
}

.cState9{
    background-image: url(/img/integrateAi/IAIProj1/HeaderImg.png);
    background-size: cover;
    min-height: 40vh;
}
.cState9 h1{
    background-color: #fff;
    padding: 15px;
}
.cState10{
    background-image: url(/img/integrateAi/IAIProj2/HeaderImg.png);
    background-size: cover;
    min-height: 40vh;
}
.cState10 h1{
    background-color: #fff;
    padding: 15px;
}

.cState11{
    background-image: url(/img/integrateAi/IAIProj3/HeaderImg.png);
    background-size: cover;
    min-height: 40vh;
}

.cState12{
    background-image: url(/img/glance/land2.jpg);
    background-size: cover;
    min-height: 40vh;
}
.cState11 h1{
    background-color: #fff;
    padding: 15px;
}
.cState h1{
    background-color: #fff;
    padding: 15px;
}
.cState2 h1{
    background-color: #fff;
    padding: 15px;
}
.cState3 h1{
    background-color: #fff;
    padding: 15px;
}
.cState4 h1{
    background-color: #fff;
    padding: 15px;
}
.cState5 h1{
    background-color: #fff;
    padding: 15px;
}
.cState6 h1{
    background-color: #fff;
    padding: 15px;
}
.cState7 h1{
    background-color: #fff;
    padding: 15px;
}


.externalLink{
    color:#6e8fff; font-weight:700;
}
.noPad{
    padding: 0px;
}
.title {
    font-size: 1.2rem;
    font-weight: 700;
}
/*
.section{
  margin-top: 30vh;  
}
*/
.footer{
}
.contactFix{
    position: fixed;
    bottom:0;
    right: 10px;
    background-color: #fff;
    max-width: 120px;
}

button{
    border: none;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}


