a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0px;
    /*    background-image: url('/img/BackgroundSpace.svg');*/
    background: #021017;
    background: -webkit-gradient(linear, left top, left bottom, from(#0A1B2E), to(#021017));
    background: linear-gradient(#0A1B2E, #021017);
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 900;
    color: #021017;
}

h2 {
    font-weight: 700;
    font-size: 16pt;
    color: #021017;
}

p,
li {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    list-style: none;
}

p {
    line-height: 1.5em;
}

a:hover {
    cursor: pointer;
}


/*
p {
    font-family: 'Open Sans', sans-serif;
}
*/

#backCov {
    height: 100vh;
    width: 100vw;
    z-index: 5;
    opacity: 0.7;
    background-color: #1a1a1a;
    position: fixed;
    top: 0%;
    bottom: 0%;
}

#bonci {}

#itemBonci {
    visibility: hidden;
    color: white;
    width: 300%;
    text-align: center;
    margin-left: -125%;
}

.chevronRight:hover {
    cursor: pointer;
}

#chevRightM:hover #itemBonci {
    visibility: visible;
}

#itemExtra {
    visibility: hidden;
    color: white;
    width: 300%;
    text-align: center;
    margin-left: -100%;
}

#chevLeftM:hover #itemExtra {
    visibility: visible;
}

.hide {
    opacity: 0 !important;
    visibility: hidden;
}

#p1 {
    height: 37.32vh;
    border: 4px solid #999999;
}

#p2 {
    height: 37.32vh;
    border: 4px solid #999999;
}

#p3 {
    height: 37.32vh;
    border: 4px solid #999999;
}

#slide-1 {
    position: fixed;
    height: 100%;
}

#slide-1 .bcg {
    background-image: url('/img/Background.svg');
}

#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 310px;
    text-align: center
}

#toyota {}

.aboutPar {
    color: white;
    width: 25%;
}

.backTop {
    position: fixed;
    left: 75vw;
    bottom: 0%;
    background-color: #0A1B2E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.backTop:hover {
    background-color: #021017;
    cursor: pointer;
}

.backTop h1 {
    color: white;
    font-size: 14pt;
    font-weight: 700;
    padding-bottom: 0.5em;
    margin: 0px;
    padding: 10px;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@-webkit-keyframes boardGlow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}

@keyframes boardGlow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}

.billboard {
    -webkit-animation: boardGlow 3s ease-in-out infinite alternate;
    animation: boardGlow 3s ease-in-out infinite alternate;
}

.block {
    margin-top: 5%;
    overflow: hidden;
}

.brief {
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.brief img {
    width: 70%;
}

.brief h2 {
    font-size: 1.618em;
    margin-bottom: 0px;
    vertical-align: top;
}

.brief p {
    vertical-align: top;
}

.briefImg {
    width: 55%;
    margin-right: 5%;
    padding-bottom: 5%;
}

.briefImgBord {
    width: 40%;
    border-bottom: 10px solid #021017;
}

.briefImgBord2 {
    margin-top: 10%;
    width: 10%;
    border-bottom: 10px solid #021017;
}

.butt1 {
    color: #0A1B2E;
    background-color: #ffffff;
    border: 0px;
    font-size: 1.5em;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;
}

.butt1:hover {
    background-color: #75badd;
    cursor: pointer;
}

.butt2 {
    color: #0A1B2E;
    background-color: #ffffff;
    border: 0px;
    font-size: 1.5em;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s;
}

.butt2:hover {
    background-color: #75badd;
    cursor: pointer;
}

.butt3 {
    color: white;
    background-color: #0A1B2E;
    border: 0px;
    font-size: 1.25em;
}

.butt3:hover {
    background-color: #021017;
    cursor: pointer;
}

.buttonGroup {
    float: right;
    margin-right: 2%;
    margin-top: 38%;
}

.cardText {
    text-align: center;
    color: #000;
    position: absolute;
    background-color: #0A1B2E;
    height: 82%;
    width: 82%;
    left: 9%;
    top: 9%;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

.cardInfo {
    position: relative;
    width: 27%;
    padding: 3%;
    display: inline-block;
}

.cardText:hover {
    opacity: 1;
    cursor: pointer;
}

.cardText h3 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin: 0px;
}

.chevronRight {
    width: 1.5%;
    position: absolute;
    z-index: 1000;
}

.chevronLeft {
    width: 1.5%;
}

.contentAlign {
    width: 75%;
    margin: auto;
    background-color: #fff;
    padding: 50px;
    z-index: 999;
}

.descMat {
    padding: 0px;
}

.descMat li h1 {
    margin: 0px;
}

.downArrow {
    width: 2%;
    position: fixed;
    left: 50%;
    margin-left: -1.5%;
    bottom: 1%;
}

.drawing {
    width: 30%;
    display: inline-block;
    float: right;
}

.picL {
    height: 30%;
    display: inline-block;
    float: right;
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0.6;
    }
    20% {
        opacity: 0.67;
    }
    40% {
        opacity: 0.73;
    }
    60% {
        opacity: 0.76;
    }
    80% {
        opacity: 0.79;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.6;
    }
    20% {
        opacity: 0.67;
    }
    40% {
        opacity: 0.73;
    }
    60% {
        opacity: 0.76;
    }
    80% {
        opacity: 0.79;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes slideIn {
    from {
        margin-top: 100vh;
    }
    to {
        margin-top: 0vh;
    }
}

.enterContent {
    animation: slideIn 1s forwards;
}

@keyframes slideOut {
    from {
        margin-top: 00vh;
    }
    to {
        margin-top: 100vh;
    }
}

.leaveContent {
    animation: slideOut 1s forwards;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}

.hsContent {
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    text-align: center
}

.landingName {
    font-size: 200%;
    text-align: center;
    width: 50vw;
    height: 50vh;
    color: white;
    vertical-align: middle;
    line-height: 100vh;
    @import url('https://fonts.googleapis.com/css?family=Russo+One');
    font-family: 'Orbitron', sans-serif;
    margin: auto;
}

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

@keyframes animatebot {
    from {
        top: 300%;
        opacity: 0
    }
    to {
        top: 50%;
        opacity: 1
    }
}

.modalContent {
    height: 80vh;
    overflow-y: scroll;
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 3%;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    animation-name: animatebot;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
}

.modalContent::after {
    animation-name: animatebot;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
}

.hide {
    display: none;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    right: 2%;
    top: 2%;
    position: fixed;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navBar {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    z-index: 1999;
    background-color: #0A1B2E;
    padding: 0px;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-right: 20%;
    padding-left: 5%;
}

.navBar li {
    float: right;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 11pt;
    font-family: 'Comfortaa', cursive;
}


/* Change the link color to #111 (black) on hover */

.navBar li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@-webkit-keyframes neon2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes neon2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.75;
    }
    x 100% {
        opacity: 1;
    }
}

.neon {
    -webkit-animation: neon2 3s ease-in-out infinite alternate;
    animation: neon2 3s ease-in-out infinite alternate;
}

.onePage {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.para {
    width: 40%;
    /*    display: inline-block;*/
    /*    margin-top: 5%;*/
    display: inline-block;
    /*    border-right: 5px solid #021017;*/
    padding-right: 5%;
}

.para p {
    widows: 6;
}

.para h3 {
    font-size: 1.618em;
    margin 0.5em 0;
}

.piece {
    z-index: 5;
}


/*
#piece1:hover{
    border: 4px solid #fff; 
}
*/

.piece::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

#piece1 {
    z-index: 1000;
    margin-top: 4vh;
}


/*
#piece2:hover{
    border: 4px solid #fff; 
}
*/

#piece2 {
    z-index: 1000;
    margin-top: 4vh;
}

#piece3 {
    z-index: 1000;
    margin-top: 4vh;
}

@-webkit-keyframes buttonGlow {
    0% {
        -webkit-box-shadow: 0px 0px 5px #ffffff;
        box-shadow: 0px 0px 5px #ffffff;
    }
    50% {
        -webkit-box-shadow: 0px 0px 10px #ffffff;
        box-shadow: 0px 0px 10px #ffffff;
    }
}

@keyframes buttonGlow {
    0% {
        -webkit-box-shadow: 0px 0px 5px #ffffff;
        box-shadow: 0px 0px 5px #ffffff;
    }
    50% {
        -webkit-box-shadow: 0px 0px 10px #ffffff;
        box-shadow: 0px 0px 10px #ffffff;
    }
}

.pieceBan {
    width: 100vw;
    height: 55vh;
    overflow: hidden;
    position: relative;
    /*    background-image:url('https://imagejournal.org/wp-content/uploads/bb-plugin/cache/23466317216_b99485ba14_o-panorama.jpg');*/
}

.pieceLink {
    /*
    position: absolute;
    left: 0px;
    bottom: 0px;
*/
    -webkit-animation: buttonGlow 3s ease-in-out infinite alternate;
    animation: buttonGlow 3s ease-in-out infinite alternate;
    color: white;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 10px;
}

.pieceList {
    list-style: outside;
}

.pieceList li {
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

.pieceText {
    color: white;
    position: absolute;
    left: 105%;
    top: 0%;
    width: 65%;
}

.portBan {
    position: absolute;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    top: 10%;
}

.portContent {
    width: 100vw;
    background-color: #e6e6e6;
    margin-bottom: 0px;
}

.portBanSup {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    top: 28.5%;
}

.projCard {
    width: 100%
}

.projCard:hover {
    box-shadow: 0px 0px 2px 2px #c1c1c1;
}

.projHead {
    width: 100%;
    /*    display: inline-block;*/
    /*    padding-top: 8vh;*/
    margin-bottom: 5%;
}

.projHead h1 {
    font-size: 4.236em;
    color: #021017;
    font-weight: 00;
    padding-bottom: 0.5em;
    display: inline;
}

.projHead h2 {
    font-size: 2.618em;
    color: #c3c3c3;
    margin-top: 0.5em;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.smallLabelLeft h3 {
    border-left: 1px solid #c3c3c3;
    padding-left: 5px;
}

.smallLabelRight h3 {
    border-right: 1px solid #c3c3c3;
    padding-right: 5px;
}

.smallLabel h3 {
    font-size: 1em;
    color: #c3c3c3;
    font-weight: 100;
}

.smallLabelRight {
    text-align: right;
    float: right;
}

.smallLabel h1 {
    font-size: 16pt;
    color: #0A1B2E;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.smallLabel {
    /*    display: inline-block;*/
    width: 15%;
    vertical-align: top;
    display: inline-block;
}

.smallLabelDivide {
    width: 27%;
    border-top: 9px solid #021017;
}

.smoothTrans {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.standSetup {
    position: absolute;
    top: 28vh;
    bottom: unset !important;
    top: 28.5vh;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.sumImg {
    width: 40%;
    float: right;
}

.talk {
    font-weight: 700;
    color: #FF5F51;
}

.talk:hover {
    text-decoration: underline;
}

.topicTitle {
    font-size: 16pt;
    color: #0A1B2E;
    font-weight: 700;
}

.wireFrames {
    width: 30%;
    display: inline-block;
    float: right;
}

.wireFrames img {
    width: 100%;
    border: 2px solid #111;
    margin-left: -5%;
}

.vertical-centered-box {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 50vh;
    text-align: center;
    overflow: hidden;
}

.vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.vertical-centered-box .content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}

#Work_Neon_Outlin {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/*svgCss*/

.glowingWork {}

.cls2-1 {
    fill: #2b2b2d;
}

.cls2-2 {
    fill: #474545;
}

.cls2-3 {
    fill: #151721;
}

.cls2-4 {
    fill: #c9c199;
}

.cls2-5 {
    fill: #5b5c75;
}

.cls2-6 {
    fill: #665651;
}

.cls2-7 {
    fill: #7c6861;
}

.cls2-8 {
    fill: #7d827e;
}

.cls2-9 {
    fill: #563e3a;
}

.cls2-10,
.cls2-11,
.cls2-13 {
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.cls2-10 {
    stroke: #1a1a1a;
    stroke-width: 15px;
}

.cls2-11,
.cls2-13 {
    stroke: #f772bb;
    stroke-width: 4px;
}

.cls2-11 {
    stroke-dasharray: 150 10;
}

.cls2-12 {
    stroke: #231f20;
    stroke-width: 12px;
}

.cls2-13 {
    stroke-dasharray: 90 10;
}

.cls3-1 {
    fill: #4d4d4d;
}

.cls3-2 {
    fill: #161c23;
}

.cls3-3,
.cls3-5,
.cls3-6,
.cls3-8 {
    fill: none;
}

.cls3-3 {
    stroke: #373737;
}

.cls3-3,
.cls3-5,
.cls3-6 {
    stroke-miterlimit: 10;
}

.cls3-4 {
    fill: #f4e3ab;
}

.cls3-5 {
    stroke: #1a1a1a;
    stroke-width: 15px;
}

.cls3-5,
.cls3-6,
.cls3-7,
.cls3-8 {
    stroke-linecap: round;
}

.cls3-6,
.cls3-8 {
    stroke: #00b8dd;
    stroke-width: 4px;
    stroke-dasharray: 150 10;
}

.cls3-7 {
    stroke: #1d1e21;
    stroke-width: 12px;
}

.cls3-7,
.cls3-8 {
    stroke-linejoin: round;
}

.cls6-1 {
    fill: #999;
}

.cls6-2 {
    fill: #4c4c4c;
}

.cls6-3 {
    fill: url(#linear-gradient);
}

.cls6-4 {
    fill: none;
}